@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<!-- Masthead-->
@*<div>
    <partial name="_CookieConsentPartial" />
</div>*@

@*cookie consent when they click it, it accepts it*@
<script>
    function hideTextbox() {
        var cookieHead = document.getElementById("cookieHead");
        var textbox = document.getElementById('textbox');
        var button = document.getElementById('button');
        textbox.style.display = 'none';
        button.style.display = 'none';
        cookieHead.style.display = 'none';
    }
</script>

<center>
    <div id="cookieHead" class="box">
        <p id="textbox">This website uses cookies to improve your experience. By clicking "Accept", you consent to the use of all cookies. You can also view our <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a> here.</p>
   <button class="btn btn-primary btn-xl " id="button" onclick="hideTextbox()">Accept</button>
</div></center>

<style>
    .box {
        border: 1px solid;
        background-color: #F0FFFF;
        color: black;/* Set border style */
        padding: 20px; /* Set padding */
        margin: 20px; /* Set margin */
    }
</style>

<br />
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Mummify</div>
        <div class="masthead-heading text-uppercase">It's Time to Get Digging!</div>
        <a class="btn btn-primary btn-xl text-uppercase" asp-controller="Home" asp-action="Burials">Show the Data</a>
    </div>
</header>


<!-- Page section example for content below the video header -->
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <p>Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological investigation (primarily by BYU researchers) for over <code>25 years.</code> </p>
                <p>
                    During multiple years of study, researchers have excavated more than <code>1,000 mummies</code> and collected data in field notes, spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial depth, hair color, wrapping
                    (including information about the textiles used), sex, age, bone (including skull and teeth) dimensions, items accompanying the mummy, and more. Offsite, researchers have performed a variety of analyses on the excavated items including carbon dating, DNA sequencing, and others.</p>
                <p>In this website you will be able to visually see the data you add in action through <code>visualizations</code>. This site also allows the research team to view, filter, and query this <code>data</code> in many ways. This will allow researchers to answer a variety of academic research questions.</p>
                <p class="mb-0">
                    <a asp-controller="Home" asp-action="Burials">Click here to view the burial informtation</a>
                </p>
            </div>
        </div>
    </div>
</section>