@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mummify</h1>
    <p>
        Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological investigation (primarily by BYU researchers) for over 25 years.

        During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial depth, hair color, wrapping (including information about the textiles used), sex, age, bone (including skull and teeth) dimensions, items accompanying the mummy, and more. Offsite, researchers have performed a variety of analyses on the excavated items including carbon dating, DNA sequencing, and others.

        <br />In this website you will be able to visually see the data you add in action through visualizations. This site also allows the research team to view, filter, and query this data in many ways. This will allow researchers to answer a variety of academic research questions.
    </p>
    <a asp-controller="Home" asp-action="Privacy">Click here to view the burial informtation</a>

</div>
