@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Effective: April 10, 2023</h3>

<p>
    This Privacy Policy explains how we collect, use, and share information about you when you use our services. We understand that your privacy is important, and we are committed to protecting your personal data.

    <br /><br />Information We Collect:<br />

    We collect information about you when you use our services. This may include your name, email address, phone number, IP address, and other information that you provide to us. We may also collect information about your device, such as the type of device you are using, the operating system, and other technical information.

    <br /><br />How We Use and Collect Your Information:<br />

    We use the information we collect to provide and improve our services. We may use your information to communicate with you about our services, to respond to your inquiries, and to personalize your experience. We may also use your information for research purposes and to help us understand how our services are used.
    We use your data within an automated decision-making system, including profiling. This system has been set up to dtermine the gender and interests of an individual. The significance is vast in which we can better show ads and implement resources
    needed per individual. The consequences is that it is your data we use and it is not always correct.
    <br />We will retain and evaluate information on your recent visits to our website and how you move around different sections of our website for analytics purposes to understand how people use our website so that we can make it more intuitive.
    We will keep a record of the links on our website that you have clicked on and use that information to target advertising on this website to you that is relevant to your interests, which we have identified based on links and pages you have clicked.

    <br /><br />How We Share Your Information:<br />

    We do not sell your personal data to third parties. However, we may share your information with our service providers who help us provide our services. We may also share your information with law enforcement agencies or other government bodies if we are required to do so by law.
    Currently, the provision of personal data is not part of a statutory or contractual requirement or obligation, therefore there are no consequences of failing to provide the personal data.

    <br /><br />Data Security and Storage:<br />

    We take the security of your personal data seriously and have implemented appropriate technical and organizational measures to protect your data. However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee the security of your information.
    Our Company securely stores your data at Mummifies Headquarters which is surveiled 24/7.
    Our Company will keep your personal data such as name, email address, links clicked on, for a maximun of 6 years. Once this time period has expired, we will delete your data by going into the database and rmeoving all information in accordance with you.

    <br /><br />Your Choices:<br />
    You have the right to access, modify, and delete your personal data. Below is a list of your rights:
    <br />
    The right to access – You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.
    <br />
    The right to rectification – You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.
    <br />
    The right to erasure – You have the right to request that Our Company erase your personal data, under certain conditions.
    <br />
    The right to restrict processing – You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.
    <br />
    The right to object to processing – You have the right to object to Our Company’s processing of your personal data, under certain conditions.
    <br />
    The right to data portability – You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.
    <br />You can use your rights by contacting us at the email address and phone number provided below. You also have the right to opt-out of receiving marketing communications from us.
    Lastly, you have the right to lodge a complaint with a supervisory authority, email address provided below.

    <br /><br />Changes to This Privacy Policy:<br />

    We reserve the right to modify this Privacy Policy at any time. We will notify you of any changes by posting the new Privacy Policy on our website. Your continued use of our services after the changes have been made constitutes your acceptance of the new Privacy Policy.

    <br /><br />Contact Us:<br />

    If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at 1(800)-MUM-PRIV or mummifyPrivacy@mummify.com or Brigham Young University Provo, UT 84604.
    <br />Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office at kat@mummify.com or (801) 123-4567
</p>