@{
    Layout = null;
}
@ViewBag
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SingleBurialPopup</title>
</head>
<body>
    <div>
        <h2>ID: @ViewBag.Id</h2>
        <p>@ViewBag.Message</p>
        <!-- Add other elements to the popup view as needed -->
    </div>
</body>
</html>

