@{
    ViewData["Title"] = "Supervised";
}
<h1>@ViewData["Title"]</h1>

<h3>Supervised Analysis:</h3>
<p>A page that allows the user to enter osteology and/or burial information to predict (based on your trained model) the sex of the burial </p>



