@{
    ViewData["Title"] = "Unsupervised Analysis";
}
<h1 class="mt-1 mb-5">@ViewData["Title"]</h1>

<h5>Clustering analysis by burial location: </h5>

<br />
<br />

<div fluid>
    <iframe src="/fig.html" width="1000" height="500"></iframe>
</div>

<div class="mt-5">
    According to our model, there are two clusters of bodies that have been unveiled and recorded. The graph shows the location of each body.
    The purple cluster represents bodies that were buried during one time period, and the yellow bodies represent bodies that were buried in another.
    Burial practices in the "purple period" are drastically different from the burial practices during the "yellow period".
</div>

<div class="mt-3">
    The purple period civilizations were very efficient with their space, packing as many bodies as possible on top of each other in just a few burial spots.
</div>

<div class="mt-3">
    The yellow period also stacks bodies, but they do so in many different burial spots that span a much larger area.

</div>

<div class="mt-3 mb-5">
    Our model suggests that if you would like to find more buried bodies for the purple civilizations, you should focus your efforts on digging in the very small area where purple bodies have been found before. If you hope to find bodies from the yellow period, you should start by looking near the outliers. The yellow civiliation often has stacked bodies, so I would recommend digging on top of or very near to the single dots on our model. If you expand your search into uncharted areas, you are most likely to find bodies from the yellow civilization as they were much more likely to bury bodies in different places.

</div>
