@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment HostingEnvironment

@{
    ViewData["Title"] = "Unsupervised";
    string htmlFilePath = "~/fig.html";
    string htmlContent = System.IO.File.ReadAllText(htmlFilePath);
}
<h1>@ViewData["Title"]</h1>

<h3>Results of Our Unsupervised Analysis:</h3>
<p>Explain what the results mean here</p>

<br />
<div>
    @Html.Raw(htmlContent)
</div>